.appNameListItemContainer {
    padding: 8px;
    text-align: left;
    transition: .25s;
}

.appNameListItemContainer:hover {
    background: lightgrey;
}

.appNameListItemContainer input[type=submit] {
    background: none;
    border: none;
    box-shadow: none;
    color: grey;
    padding: 4px;
    text-align: left;
    transform: none;
}
