.appNameListItemContainer {
    border-radius: 8px;
    text-align: left;
    transition: .25s;
}

.appNameListItemContainer:hover {
    background: lightgrey;
}

.appNameListItemContainer input[type=submit] {
    background: none;
    border: none;
    box-shadow: none;
    color: grey;
    cursor: pointer;
    margin: 0;
    padding: 16px;
    text-align: left;
    transform: none;
    width: 100%;
}
