.topBar {
    display: grid;
    grid-template-columns: 50% auto auto 1fr;

    box-shadow: 8px 0 16px black;
    padding: 8px 32px;
    text-align: left;
}

.topBar input {
    border: 1px solid lightgrey;
    border-radius: 8px;
    margin-right: 8px;
    padding: 8px;
    transition: 0.25s;
}

.topBar input:focus {
    outline: none;
}

.topBar input::placeholder{
    color: lightgrey;
}

.topBar input[type="text"] {
    width: calc(100% - 100px);
}

.topBar input[type="submit"] {
    background: white;
    border: 1px solid lightgrey;
    color: limegreen;
    margin-right: 0;
}

.topBar .save input[type="submit"] {
    width: 100%;
}

.topBar input[type="submit"]:hover {
    background: limegreen;
    border: 1px solid limegreen;
    box-shadow: 0 4px 8px grey;
    color: white;
    transform: translateY(-2.5px);
}

.topBar input[type="date"] {
    padding: 5px;
    width: 175px;
}

.topBar input[type="number"] {
    width: 175px;
}

.bad {
    color: red;
}