.reviewContainer {
    display: grid;
    grid-template-rows: auto 1fr;

    border-radius: 8px;
    box-shadow: 0 8px 8px #e1e1e1;
    padding: 16px;
}

.reviewContainer .reviewHeader {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.reviewContainer .reviewHeader p {
    color: lightgray;
}

.reviewContainer .reviewHeader p:last-child {
    text-align: right;
}