.App p {
    padding: 4px 0;
    text-align: left;
}

.searchInput {
    border: 1px solid lightgrey;
    border-radius: 8px;
    margin-right: 8px;
    padding: 8px;
}

.searchInput:focus{
    outline: none;
}

.searchInput::placeholder{
    color: lightgrey;
}

.button {
    background: white;
    border: 1px solid lightgrey;
    border-radius: 8px;
    color: limegreen;
    margin-right: 8px;
    padding: 8px;
    text-decoration: none;
    transition: 0.25s;
}

.button:focus {
    outline: none;
}

.button:hover {
    background: limegreen;
    border: 1px solid limegreen;
    box-shadow: 0 4px 8px grey;
    color: white;
    transform: translateY(-2.5px);
}

.disabled {
    background: white;
    border: 1px solid lightgrey;
    border-radius: 8px;
    color: red;
    margin-right: 8px;
    padding: 8px;
    text-decoration: none;
    transition: 0.25s;
}

.disabled:hover {
    cursor: not-allowed;
}