.App p {
    padding: 4px 0;
    text-align: left;
}

.FAB {
    background: white;
    border: 1px solid limegreen;
    border-radius: 8px;
    color: limegreen;
    padding: 8px;
    position: relative;
    text-decoration: none;
    transition: 0.25s;
    width: auto;
}

.FAB:hover {
    background: limegreen;
    color: white;
}

/***** ***** Forms ***** *****/
input {
    border: 1px solid lightgrey;
    border-radius: 8px;
    margin-right: 8px;
    padding: 8px;
    transition: 0.25s;
}

input:focus {
    outline: none;
}

input::placeholder{
    color: lightgrey;
}

input[type="submit"] {
    background: white;
    border: 1px solid lightgrey;
    color: limegreen;
    margin-right: 0;
}

input[type="submit"]:hover {
    background: limegreen;
    border: 1px solid limegreen;
    box-shadow: 0 4px 8px grey;
    color: white;
    transform: translateY(-2.5px);
}

input[type="date"] {
    padding: 5px;
}
